.user-profile-card {
  border-radius: 24px;
  margin-bottom: 10px;
}

/* Common btns for left column of grid */
.user-card--button-container {
  display: flex;
  justify-content: space-between;
}
.user-card--save-btn {
  width: 45%;
}
.user-card--cancel-btn {
  width: 45%;
}
/* Common btns for right side of grid */
.user-right-card--button-container {
  display: flex;
  justify-content: flex-end;
}
.user-right-card--save-btn {
  width: 120px;
  margin-left: 10px;
}
.user-right-card--cancel-btn {
  width: 120px;
}
